/* Add underline to all links */

a {
  text-decoration: underline;
}

/* Fix colour contrast for titles and menu button*/

.hero-banner .overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* Skip to main content button */

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}